.cube1{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    border-radius: 0.5em;
}
.cube2{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 3px solid whitesmoke;
    border-radius: 0.5em;
}
.cube3{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 3px solid whitesmoke;
    border-radius: 0.5em;
}